option_settings:
  aws:elasticbeanstalk:application:environment:
    ALCHEMY_CONFIG: ProductionConfig
    SECRET_KEY: pvg6sWDh9pjOjPnH2936Rn915DRw2/8vwzX4oRPcfbo=
    AWS_DEFAULT_REGION: ap-southeast-1
    AWS_COGNITO_DOMAIN: https://alchemy.auth.ap-southeast-1.amazoncognito.com
    AWS_COGNITO_USER_POOL_ID: ap-southeast-1_k8sm2XbyZ
    AWS_COGNITO_USER_POOL_CLIENT_ID: 4voshugfepo9mnkl4pdhmi57eh
    AWS_COGNITO_USER_POOL_CLIENT_SECRET: 1rhu7n1vt88uhk8no8bq9tu901bslqri171hiu78afavk6sq88u0
    AWS_COGNITO_REDIRECT_URL: https://alchemydev-env.eba-nk3jmbzp.ap-southeast-1.elasticbeanstalk.com/auth/aws_cognito_callback
