{% macro render_section(question_overview_section) -%}

<div>
  <h2><b>Question Overview</b></h2>
  <br>
  <h4>Central Tendency of Question Achievement</h4>
  <br>
  <table>
    <tr>
      <td style="vertical-align:top; width: 30%;">
        <table style="text-align:center" class="table table-hover">
          <tr>
            <th>Question Number</th>
            <th>Mean</th>
            <th>Median</th>
          </tr>
          {% for statprofile in question_overview_section.statprofiles|sort(attribute='norm_mean', reverse=True) %}
            <tr>
              <td>{{ statprofile.object.order_number }}</td>
              <td>{{ statprofile.norm_mean }} %</td>
              <td>{{ statprofile.norm_fivenumsumm[2] }} %</td>
            </tr>
          {% endfor %}
        </table>
      </td>
      <td>&nbsp &nbsp &nbsp</td>
      <td><img style = "width: 100%; height: auto;" src="data:image/png;base64, {{ question_overview_section.center_bar_plot }}" alt="graph"></td>
    </tr>
  </table>
  <br>
  <h4>Spread of Question Achievement</h4>
  <br>
  <table>
    <tr>
      <td style="vertical-align:top; width: 30%;">
        <table style="text-align:center" class="table table-hover">
          <tr>
            <th>Question Number</th>
            <th>Standard Deviation</th>
            <th>Interquartile Range</th>
          </tr>
          {% for statprofile in question_overview_section.statprofiles|sort(attribute='norm_sd', reverse=True) %}
            <tr>
              <td>{{ statprofile.object.order_number }}</td>
              <td>{{ statprofile.norm_sd }} %</td>
              <td>{{ statprofile.norm_iqr }} %</td>
            </tr>
          {% endfor %}
        </table>
      </td>
      <td>&nbsp &nbsp</td>
      <td><img style = "width: 100%; height: auto;" src="data:image/png;base64, {{ question_overview_section.spread_bar_plot }}" alt="graph"></td>
    </tr>
  </table>
  <br>
</div>


{%- endmacro %}
