<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include "course/reports/layout_start.html" %}
  <body>
    <h1 style="text-align:center">Achievement Report</h1>
    <h1 style="text-align:center">{{ g.course.name }} - {{ g.clazz.code }}: {{ paper.title }}</h1>

    <div class="section">
      <h2><b>Overview</b></h2>
      {% import "course/reports/data_macro.html" as data_macro %}
      {{ data_macro.data_display(clazz_paper_report) }}
      <br>
    </div>
    <div class="section">
      <h2><b>Student Scores</b></h2>
      <table style="text-align:center" class="table table-hover">
        <tr>
          <th>Student Given Name</th>
          <th>Student Family Name</th>
          <th>Total (Raw)</th>
          <th>Total (%)</th>
        </tr>
        <tbody>
          {% for score_set in clazz_paper_report.student_scoresets %}
            <tr>
              <td>{{ score_set.student.aws_user.given_name }}</td>
              <td>{{ score_set.student.aws_user.family_name }}</td>
              <td>{{ score_set.total }}</td>
              <td>{{ score_set.percentage }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <div>
        <img src="data:image/png;base64, {{ clazz_paper_report.grade_pie_data }}" alt="graph">
      </div>
      <div>
        {% import "course/reports/grade_table_macro.html" as grade_table  %}
        {{ grade_table.display(clazz_paper_report.grade_batch_dict) }}
        <br>
      </div>
    </div>
    <div>
      <h2><b>Tag Overview</b></h2>
      <img src="data:image/png;base64, {{ clazz_paper_report.tag_center_bar }}" alt="graph">
      <img src="data:image/png;base64, {{ clazz_paper_report.tag_spread_bar }}" alt="graph">
      <br>
      <br>
      <h2><b>Question Overview</b></h2>
      <img src="data:image/png;base64, {{ clazz_paper_report.question_center_bar }}" alt="graph">
      <img src="data:image/png;base64, {{ clazz_paper_report.question_spread_bar }}" alt="graph">
      <br>
      <br>
    </div>
    <div class="section">
      <h2><b>Tag Achievement Results</b></h2>
      {% for tag_total_set in clazz_paper_report.tag_totalsets %}
        <h3>Tag: {{ tag_total_set.tag.name }}</h3>
        {{ data_macro.data_display(tag_total_set) }}
        <br>
        <p style="page-break-after: always"></p>
      {% endfor %}
    </div>
    <div class="section">
      <h2><b>Question Achievement Results</b></h2>
      {% for question_score_set in clazz_paper_report.question_scoresets %}
        <h3>Question {{ question_score_set.order_number }}</h3>
        <p>Tags:
          {% for tag in question_score_set.question.tags %}
            | {{ tag.name }}
          {% endfor %} |</p>
        <p>{{ question_score_set.question.content }}</p>
        <h3><b>Solution</b></h3>
        <p>{{ question_score_set.question.solution.content }}</p>
        <br>
        {{ data_macro.data_display(question_score_set) }}
        <br>
        <p style="page-break-after: always"></p>
      {% endfor %}
    </div>
  </body>

{% include "layout_end.html" %}

</html>
