{% extends "course/course_layout.html" %}

{% block course_main_content %}

<main role="main">
  <h1 class="my-3">{{ g.clazz.code }} - {{ g.course.name }}</h1>

  <h2>Teacher</h2>
    <p style='margin-left:20px'>TEACHER! (eventually)</p>
  <!-- Eventually include a for teachers in clazz.teachers loop -->
  <h2>Assessments ({{ g.course.papers | length }})</h2>
  <br>
  <table class="table table-hover">
    {% for paper in g.course.papers %}
      <tr>
        <td><a href="{{ url_for('course.paper.index', paper_id = paper.id)}}">{{ paper.title }}</a></td>
        <td>
          {% if (paper.paper_questions | length) != 0 %}
            <a class="btn btn-info btn-sm" href="{{ url_for('course.clazz.paper_results', paper_id = paper.id) }}">Edit Results</a>
          {% endif %}
        </td>
        <td>
          {% if (paper.paper_questions | length) != 0 %}
            {% if paper.has_all_scores %}
              <a class="btn btn-success btn-sm" target="_blank" href="{{ url_for('course.clazz.clazz_paper_report', paper_id = paper.id, clazz_id = g.clazz.id)}}">View Class Report</a>
            {% else %}
              <a class="btn btn-success btn-sm disabled" target="_blank" href="{{ url_for('course.clazz.clazz_paper_report', paper_id = paper.id)}}">View Class Report</a>
            {% endif %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  <h2>Students ({{ g.clazz.students | length }})</h2>
  <br>
  <table class="table table-hover">
    <thead>
      <th>Student ID</th>
      <th>Family Name</th>
      <th>Given Name</th>
      {% for paper in g.course.papers %}
        <th>{{ paper.title }}</th>
      {% endfor %}
    </thead>
    {% for profile in profiles %}
      <tr>
        <td class="align-middle">{{ profile.student.id }}</td>
        <td class="align-middle">{{ profile.student.aws_user.family_name }}</td>
        <td class="align-middle">{{ profile.student.aws_user.given_name }}</td>
        {% for scoreset in profile.scoreset_list %}
          {% if scoreset.has_all_scores %}
            <td>{{ scoreset.percentage }}% | {{ scoreset.grade }}  <br><a class="btn btn-success btn-sm" target="_blank" href="{{ url_for('course.clazz.student_paper_report', student_id = profile.student.id, paper_id = scoreset.paper.id) }}" >View Report</a></td>
          {% else %}
            <td>No Grade Assigned<br><a class="btn btn-success btn-sm disabled">View Report</a>
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

</main>

{% endblock course_main_content %}
