<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include "course/reports/layout_start.html" %}
  <body>
    <h1 style="text-align:center">{{ student_report.student.family_name }}, {{ student_report.student.given_name }} - Achievement Report</h1>
    <h1 style="text-align:center">{{ g.clazz.course.name }} ({{ g.clazz.code }}): {{ paper.title }}</h1>

    <div class="section">
      <h2><b>Overview</b></h2>
      <br>
      <p>Your achievment on this assessment is:</p>
      <table style="text-align:center" class="table table-hover">

        <thead>
          <th>Achievement</th>
          <th>As %</th>
          <th>Grade Level</th>
        </thead>
        <tr>
          <td style="text-align: center">{{ student_report.total }} / {{ paper.profile.total_points }}</td>
          <td style="text-align: center">{{ student_report.percentage }}% </td>
          <td style="text-align: center">{{ student_report.grade }}</td>
        </tr>
      </table>
      <br>
      {% if student_report.next_highest_grade %}
        <h3>Next Highest Grade Level</h3>
        <p>Your achievement on this assessment was <b>{{ student_report.diff_higher_grade }}%</b> from <b>{{ student_report.next_highest_grade.grade }}</b> level.</p>
        <br>
      {% endif %}
      {% if student_report.next_lowest_grade %}
        <h3>Next Lowest Grade Level</h3>
        <p>Your achievement on this assessment was <b>{{ student_report.diff_lower_grade }}%</b> from <b>{{ student_report.next_lowest_grade.grade }}</b> level.</p>
        <br>
      {% endif %}

      <p>The mean achievement for your class on this assessment is:</p>
      <table style="text-align:center" class="table table-hover">
        <thead>
          <th>Achievement</th>
          <th>As %</th>
          <th>Grade Level</th>
        </thead>
        <tr>
          <td style="text-align: center">{{ student_report.clazz_raw_mean }} / {{ paper.profile.total_points }}</td>
          <td style="text-align: center">{{ student_report.clazz_percentage_mean }}% </td>
          <td style="text-align: center">{{ student_report.clazz_mean_grade }}</td>
        </tr>
      </table>
      <p>Your relative position in the class is below, with your classmates' names hidden for privacy.</p>
      <table style="text-align:center" class="table table-hover">
          <tr>
            {% for grade in student_report.grade_batch_dict %}
            <th>{{ grade }}</th>
            {% endfor %}
          </tr>
          <tr>
            {% for grade in student_report.grade_batch_dict %}
              <td>
                <table style="text-align:center" class="table table-hover">
                  {% for student in student_report.grade_batch_dict[grade] %}
                    <tr>
                      {% if student == student_report.scoreset %}
                      <td class="table-primary"><b>{{student.student.family_name}}, {{ student.student.given_name }}</b></td>
                      <td class="table-primary"><b>{{ student.percentage }}%</b></td>
                      {% else %}
                      <td>xxxxx, xxxxx</td>
                      <td>{{ student.percentage }}%</td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </table>
              </td>
            {% endfor %}
          </tr>
      </table>
    </div>
    <div class="section">
      <h3><b>Strengths</b></h3>
      <p>The Question(student) where you achieved the highest were:</p>
      {% for student in student_report.question_strengths %}
        <p>Question {{ student.order_id }}, with {{ student.percentage }}% (Grade Level: {{ student.grade }}) </p>
      {% endfor %}
      <br>
      <p>Areas where you have experienced the most success are:</p>
      {% for tag_strength in student_report.tag_strengths %}
        <p>{{ tag_strength.tag.name }}, with {{ tag_strength.percentage }}% of marks available (Grade Level: {{ tag_strength.grade }})</p>
      {% endfor %}
    </div>
    <br>
    <div class="section">
      <h3><b>Areas for Improvement</b></h3>
      <p>The Question(student) that may require further revision are:</p>
      {% for student in student_report.question_weaknesses %}
        <p>Question {{ student.order_id }}, with {{ student.percentage }}% (Grade Level: {{ student.grade }}) </p>
      {% endfor %}
      <br>
      <p>Areas and skills that may require further revision are:</p>
      {% for tag_weakness in student_report.tag_weaknesses %}
        <p>{{ tag_weakness.tag.name }}, with {{ tag_weakness.percentage }}% of marks available (Grade Level: {{ tag_weakness.grade }})</p>
      {% endfor %}
    </div>
  </body>
  {% include "layout_end.html" %}

</html>
