{% macro render_section(highlights_section) -%}

<br>
<h2>Strengths and Areas for Improvement</h2>
<br>
<table class="table table-hover">
  <thead>
    <th style="text-align:center">Strengths</th>
    <th style="text-align:center">Areas for Improvement</th>
  </thead>
  {% if highlights_section.question_highlights.has_strengths and highlights_section.question_highlights.has_weaknesses %}
  <tr>
    <td>
      <p>The Question(s) where you achieved the highest were:</p>
      {% for highlight in highlights_section.question_highlights.strengths %}
        <p><b>Question {{ highlight.order_id }}</b>, with {{ highlight.percentage }}% of marks available (Grade Level: {{ highlight.grade }})</p>
      {% endfor %}
      <br>
      <p>The areas where you experienced the most success were:</p>
      {% for student_tag_achievement in highlights_section.tag_highlights.strengths %}
        <p><b>{{ student_tag_achievement.tag.name }}</b>, with {{ student_tag_achievement.percent_score }}% of marks available (Grade Level: {{ student_tag_achievement.grade }})</p>
      {% endfor %}
    </td>
    <td>
      <p>The Question(s) where you may require further revision are:</p>
      {% for highlight in highlights_section.question_highlights.weaknesses %}
        <p><b>Question {{ highlight.order_id }}</b>, with {{ highlight.percentage }}% of marks available (Grade Level: {{ highlight.grade }})</p>
      {% endfor %}
      <br>
      <p>The areas which may require more attention are:</p>
      {% for student_tag_achievement in highlights_section.tag_highlights.weaknesses %}
        <p><b>{{ student_tag_achievement.tag.name }}</b>, with {{ student_tag_achievement.percent_score }}% of marks available (Grade Level: {{ student_tag_achievement.grade }})</p>
      {% endfor %}
    </td>
  </tr>
  {% elif highlights_section.question_highlights.has_strengths %}
    <tr>
      <td><p>Well done! You have addressed all questions and topics at the highest level. :)</p>
      </td>
      <td><p>There is insufficient data in your results to identify your weaknesses!</p>
      </td>
    </tr>
  {% else  %}
    <tr>
      <td><p>Unfortunately, there is insufficient data in your results to identify your strengths.</p>
      <p>The good news is that small improvements will make big differences! Don't give up!</p>
      </td>
      <td><p>All questions and topics have been addressed at the lowest level, so no recommendations are available.</p>
      </td>
    </tr>
  {% endif %}
</table>
<br>

{%- endmacro %}
