{% macro render_section(overview_section) -%}

<h2><b>Overview</b></h2>
<br>
<p>Your overall achievment on this assessment is:</p>
<table style="text-align:center" class="table table-hover">
  <thead>
    <th>Achievement</th>
    <th>As %</th>
    <th>Grade Level</th>
  </thead>
  <tr>
    <td style="text-align: center">{{ overview_section.tally.raw_total }} / {{ overview_section.tally.paper_total }}</td>
    <td style="text-align: center">{{ overview_section.tally.percent_total }}% </td>
    <td style="text-align: center">{{ overview_section.tally.grade }}</td>
  </tr>
</table>
<br>

{%- endmacro %}
