<div class="card">
  <div class="card-body">

    <div class="d-flex flex-md-row mb-2">
      <h5 class="card-title mr-md-auto"><b>Assessment Profile</b></h5>
        <a role="button" class="btn btn-link p-0 m-0" aria-label="Close statistics panel" onclick="toggle_sidebar()">
          <span data-feather="x-circle"></span>
        </a>
    </div>

    <div class="card-text">
        {% if g.paper.profile.has_mc_questions %}
          <p>Multiple Choice (MC) Questions: {{ g.paper.profile.total_mc_questions }}</p>
          <p>Open Answer (OA) Questions: {{ g.paper.profile.total_oa_questions }}</p>
          <b>Total Questions: {{ g.paper.profile.total_questions }}</b>
          <br>
          <br>
          <p>Multiple Choice Marks: {{ g.paper.profile.total_mc_points }} ({{ g.paper.profile.mcq_points_norm_ratio }}%)</p>
          <p>Open Answer Marks: {{ g.paper.profile.total_oa_points }} ({{ g.paper.profile.oaq_points_norm_ratio }}%)</p>
          <b>Total Marks: {{ g.paper.profile.total_points }}</b>
        {% else %}
          <b>Total Questions: {{ g.paper.profile.total_questions }}</b>
          <br>
          <b>Total Marks: {{ g.paper.profile.total_points }}</b>
        {% endif %}

        <h5 class="card-subtitle mt-4 mb-2">Tags</h5>
        <ul>
          {% for tag_profile in g.paper.profile.tag_profile_list %}
            <li>{{ tag_profile.name }}</li>
          {% endfor %}
        </ul>

        <h6 class="card-subtitle text-muted mt-4 mb-2">Question Allocations</h6>

        <table class="paper_profile_table table table-striped table-sm">
          <thead>
            <tr>
              <th>Tag</th>
              <th>Questions</th>
              <th>As %</th>
            </tr>
          </thead>
          <tbody>
            {% for tag in g.paper.profile.tag_profile_list %}
            <tr>
              <td>{{ tag.name }}</td>
              <td>{{ tag.allocated_questions }}</td>
              <td>{{ tag.question_percentage }}%</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <h6 class="card-subtitle text-muted mt-4 mb-2">Mark Allocations</h6>
        <table class="paper_profile_table table table-striped table-sm">
          <thead>
            <tr>
              <th>Tag</th>
              <th>Marks</th>
              <th>As %</th>
            </tr>
          </thead>
          <tbody>
            {% for tag in g.paper.profile.tag_profile_list %}
            <tr>
              <td>{{ tag.name }}</td>
              <td>{{ tag.allocated_points }}</td>
              <td>{{ tag.points_percentage }}%</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

    </div>
  </div>
</div>
