{% if g.paper.paper_questions|count == 0 %}
  <p class="text-center p-3">No questions added yet.</p>
{% endif %}

{% import "course/paper/question_table_macro.html" as question_table %}

<h4>Multiple choice questions</h4>

{{ question_table.render_questions_table(g.course.id, g.paper.id, g.paper.question_objects()|filter_mcqs, "mcq_solution_table") }}

<h4 class="mt-3">Open answer questions</h4>

{{ question_table.render_questions_table(g.course.id, g.paper.id, g.paper.question_objects()|filter_open_answer_questions, "open_answer_questions_table", g.paper.get_mc_paper_questions()|length) }}
