<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 style="text-align:center">{{ g.course.name }} - {{ g.paper.title }}</h1>
    <h3 style="text-align-right">Name: _____________________</h3>
    <br>
    <br>
    {% for paper_question in g.paper.paper_questions %}
      <h3>Question {{ paper_question.order_number }}</h3>
      <b>[{{ paper_question.question.points | prettify_number }} Marks]</b>
      <p>{{ paper_question.question.content }}</p>
      {% if paper_question.question.image %}
        <p class="aligncenter">
          <image class="center" src="data:image/png;base64,{{ paper_question.question.decode_image() }}">
        </p>
      {% endif %}
      <br>
      <h3>Solution</h3>
      <p>{{ paper_question.question.solution }}</p>
      <b>[Total: {{ paper_question.question.points | prettify_number }} Marks]</b>
      <br>
    {% endfor %}
  </body>

  <!-- MathJax -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</html>
