{% macro render_section(tag_overview_section) -%}

<div>
  <h2><b>Tag Overview</b></h2>
  <br>
  <h4>Central Tendency of Tag Achievement</h4>
  <p>Each tag has a total available points based on all of the questions which were tagged with them across all assessment included in this Reporting Event. The amount of these points achieved by each student is then calculated, and then mean and median for each tag are shown in the graph below.</p>
  <br>
  <table>
    <tr>
      <td style="vertical-align:top; width: 30%;">
        <table style="text-align:center" class="table table-hover">
          <tr>
            <th>Tag</th>
            <th>Mean</th>
            <th>Median</th>
          </tr>
          {% for profile in tag_overview_section.tag_profiles|sort(attribute='mean', reverse=True) %}
            <tr>
              <td>{{ profile.tag.name }}</td>
              <td>{{ profile.mean }}%</td>
              <td>{{ profile.fivenumsumm[2] }}%</td>
            </tr>
          {% endfor %}
        </table>
      </td>
      <td>&nbsp &nbsp &nbsp</td>
      <td><img style = "width: 100%; height: auto;" src="data:image/png;base64, {{ tag_overview_section.center_bar_plot }}" alt="graph"></td>
    </tr>
  </table>
  <br>
  <h4>Spread of Tag Achievement</h4>
  <p>The graph below shows the spread of these achievements - both the interquartile range (IQR) and standard deviations - of student achievement on each tag.</p>
  <br>
  <table>
    <tr>
      <td style="vertical-align:top; width: 30%;">
        <table style="text-align:center" class="table table-hover">
          <tr>
            <th>Tag</th>
            <th>Standard Deviation</th>
            <th>Interquartile Range</th>
          </tr>
          {% for profile in tag_overview_section.tag_profiles|sort(attribute='sd', reverse=True) %}
            <tr>
              <td>{{ profile.tag.name }}</td>
              <td>{{ profile.sd }}%</td>
              <td>{{ profile.iqr }}%</td>
            </tr>
          {% endfor %}
        </table>
      </td>
      <td>&nbsp &nbsp</td>
      <td><img style = "width: 100%; height: auto;" src="data:image/png;base64, {{ tag_overview_section.spread_bar_plot }}" alt="graph"></td>
    </tr>
  </table>
  <br>
</div>

{%- endmacro %}
