{% include "layout_start.html" %}

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{ 'active' if request.endpoint == 'department.index' }}" href="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ 'active' if request.endpoint == 'department.courses' }}" href="{{ url_for('department.courses') }}">Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ 'active' if request.endpoint == 'department.next' }}" href="">Next</a>
    </li>
  </ul>
  <br>
  {% block department_tab_content %}
  {% endblock department_tab_content %}
</div>

{% include "layout_end.html" %}
