{% macro render_edit_categories(course) -%}

<table id="category-form-table">
  <tr>
    <th>Assessment Category</th>
    <th>Weighting (%)</th>
    <th></th>
  </tr>
  {% for category in course.assessment_categories %}
    <tr valign="top">
      <td><input type="text" class="form-control" id = "category_{{ loop.index0 }}" placeholder="Category" value='{{ category.name }}' required>
      <label id="category-error-{{ loop.index0 }}" class="invalid-feedback" for="category_{{ loop.index0 }}">
        invalid entry
      </label>
      </td>
      <td><input type="float" id="weighting_{{ loop.index0 }}" class="form-control" placeholder="Weighting" value='{{ category.weight }}' required>
      <label id="weighting-error-{{ loop.index0 }}" class="invalid-feedback" for="weighting_{{ loop.index0 }}">
        invalid entry
      </label>
      </td>
      {% if category.papers|length == 0 %}
      <td><a class="btn btn-link" aria-label="Delete Category" onclick="remove_cat_field_row($(this));">
        <span data-feather="trash-2"></span></a></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
<a role="button" aria-label="Add Category" class="btn btn-link" onclick="insert_cat_field_row();">Add New Category
  <span data-feather="plus-circle"></span></a>

{%- endmacro %}
