{% include "layout_start.html" %}

<style type="text/css">
  .paper_profile_table tr {
      font-size: 0.8em;
      text-align: center;
  }

  /* The sidebar menu */
  .sidebar {
    height: min-height;
    max-height: 90vh;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 10vh;
    left: 0;
    background-color: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: auto;
    transition: 0.3s;
    white-space: nowrap;
  }

</style>

<div class="container">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{ 'active' if request.endpoint == 'course.index' }}" href="{{ url_for('course.index', course_id=g.course.id) }}">Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ 'active' if request.endpoint == 'course.library.index' }}" href="{{ url_for('course.library.index') }}">Question Library</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {{ 'active' if request.endpoint == 'course.paper.index' or request.endpoint == 'course.paper.edit' }}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Assessments</a>
      <div class="dropdown-menu">
        {% for paper in g.course.papers%}
          <a class="dropdown-item" href="{{ url_for('course.paper.index', paper_id=paper.id) }}">{{ paper.title }}</a>
        {% endfor %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" data-toggle="modal" data-target="#paper_create_modal" href="#">New Assessment</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ 'active' if request.endpoint == 'course.cohort.index' }}" href="{{ url_for('course.cohort.index', course_id=g.course.id) }}">Cohort</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Classes</a>
      <div class="dropdown-menu">
        {% for clazz in g.course.clazzes %}
          <a class="nav-link {{ 'active' if request.endpoint == 'course.clazz.index' }}" href="{{ url_for('course.clazz.index', clazz_id=clazz.id) }}">{{ clazz.code }}</a>
        {% endfor %}
      </div>
    </li>
  </ul>

  {% block course_main_content %}
  {% endblock course_main_content %}

</div>

{% import "course/paper_new_or_edit_macro.html" as paper_create_modal %}
{{ paper_create_modal.render_modal("paper_create_modal", course, None) }}

<script src="{{ url_for('static', filename='question_tag_manager.js') }}"></script>
<script src="{{ url_for('static', filename='mcq_solution_editing.js') }}"></script>
<!-- Other common JavaScript files -->
<script type="text/javascript">

  function paper_reorder_questions(event, ui) {
    var tbody_id = ui.item.attr('id').startsWith('open_answer')
        ? 'open_answer_questions_table'
        : 'mcq_solution_table';
    var tbody = $('#' + tbody_id);
    var sorted_question_ids = tbody.sortable('serialize');
    var paper_id = tbody.attr('data-alchemy_paper_id');
    var course_id = tbody.attr('data-alchemy_course_id');

    $.getJSON('/course/' + course_id + '/paper/' + paper_id + '/reorder_questions', {
      'sorted_question_ids': sorted_question_ids,
    }, function(data) {
      paper_question_process_ajax_response(data);
    });
  }

  function paper_add_question(course_id, paper_id, question_id) {
    var tag_filter_list = Object.keys(window.question_tag_filter || {})
    $.getJSON('/course/' + course_id + '/paper/' + paper_id + '/add_question', {
      question_id: question_id,
      tag_filter: tag_filter_list.join(','),
    }, function(data) {
      paper_question_process_ajax_response(data);
    });
  }

  function paper_remove_question(course_id, paper_id, question_id) {
    var tag_filter_list = Object.keys(window.question_tag_filter || {})
    $.getJSON('/course/' + course_id + '/paper/' + paper_id + '/remove_question', {
      question_id: question_id,
      tag_filter: tag_filter_list.join(','),
    }, function(data) {
      paper_question_process_ajax_response(data);
    });
  }

  function paper_question_process_ajax_response(data) {
    $('#paper_questions_area').html(data.paper_questions_html);
    $('#available_questions_area').html(data.available_questions_html);
    $('#stats_sidebar').html(data.stats_sidebar_html);

    // Queue a re-run of MathJax over the updated question HTML
    MathJax.typesetPromise($('#paper_questions_area'));
    MathJax.typesetPromise($('#available_questions_area'));

    init_page();
  }

  function toggle_sidebar() {
    var sidebar = document.getElementById('stats_sidebar');
    if (!sidebar.style.width) {
      sidebar.style.width = '17em';
    } else {
      sidebar.style.width = '';
    }
    $('#stats_toggle_button').toggleClass('active');
  }
</script>

{% include "layout_end.html" %}
