{% macro render_modal(course, checkpoint) -%}

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ g.course.name }}: {{ checkpoint.snapshot.name }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="paper_list">
        Choose from the available assessments:
      </label>
        <br>
        <div id="edit_checkpoint_switch_container">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="all_papers_switch" checked='False'>
            <label class="custom-control-label" for="all_papers_switch">All</label>
          </div>
          <hr/>
          {% for paper in course.papers %}
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="{{paper.id}}_switch" data-alchemy_paper_id = "{{ paper.id }}">
              <label class="custom-control-label" for="{{paper.id}}_switch">{{ paper.title }}</label>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</div>


{%- endmacro %}
