{% extends "course/layout.html" %}

{% block course_main_content %}

<style>
  .profile{
    display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .profile > div{
    margin: 1em;
  }
  .left_col{
    grid-column:1;
    grid-row:1/2;
  }
  .right_col{
    grid-column:2;
    grid-row:1/2;
  }
  .icon_red{
    stroke:red;
  }
  .icon_green{
    stroke:green;
  }
</style>

<main role="main">

  <h1 class="my-3">{{ g.course.name }} - Course Parameters</h1>

  {% import "course/assessment_categories_form_macro.html" as categories_form %}
  <!-- edit categories modal form -->
  <form id="categories-form" class="needs-validation" novalidate>
    <div class="modal fade" id="categories_modal" tabindex="-1" aria-labelledby="categories_modal_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Assessment Categories</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{ categories_form.render_edit_categories(g.course) }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick='return validate_categories({{ g.course.id }})'>Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br>
  <div class="profile">
    <div class='left-col'>
      <h4>Assessment Categories <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#categories_modal">
        <span data-feather="edit"></span>
        <a>Edit</a></button></h4>
      <table class="table table-hover text-center">
        <thead>
          <th>Category</th>
          <th>Course Weighting</th>
          <th>Number of Assessments</th>
        </thead>
        {% for category in g.course.assessment_categories %}
          <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.weight }} %</td>
            <td>{{ category.papers | length }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="right-col">
      <h4>Current Assessments <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#paper_create_modal">
        <span data-feather="plus-square"></span>
        <a>Add Assessment</a></button>
      </h4>
      <table class="table table-hover text-center">
        <thead>
          <th>Title</th>
          <th>Category</th>
          <th>Marks Uploaded</th>
        </thead>
        {% for paper in g.course.papers %}
        <tr>
          <td>
            <div align="left">
              <a class="btn btn-link {{ 'disabled' if paper.scores }}" aria-label="Delete paper" href="{{ url_for('course.paper.remove', paper_id=paper.id) }}">
                <span data-feather="trash-2"></span>
              </a>
              <a href="{{ url_for('course.paper.index', paper_id=paper.id) }}">{{ paper.title }}</a>
            </div>
          </td>
          <td>{{ paper.category.name }}</td>
          {% if paper.has_all_scores() %}
            <td><i class="icon_green" data-feather="check-circle"></i></td>
          {% else %}
            <td><i class="icon_red" data-feather="x-circle"></i></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>

  {% import "course/grade_levels_form_macro.html" as grades_form %}
  <!-- edit grade levels modal form -->
  <form id="grade-level-form" class="needs-validation" action="{{ url_for('course.index', course_id=g.course.id) }}" method="GET" novalidate>
    <div class="modal fade" id="grade_level_modal" tabindex="-1" aria-labelledby="grade_level_modal_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Grade Boundaries</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{ grades_form.render_edit_gradelevels(g.course) }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" onclick='return validate_grade_levels({{ g.course.id }})'>Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <br>
  <div class="profile">
    <div class="left_col">
      <h4>Grade Boundaries <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#grade_level_modal">
        <span data-feather="edit"></span>
        Edit
      </h4>
      <table class="table table-hover text-center">
        {% for grade in g.course.grade_levels %}
          <tr>
            <td>{{ grade.grade }}</td>
            <td>{{ grade.lower_bound }}%</td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <div class="right-col">
      <h4>Reporting Events</h4>
      <table class="table table-hover">
        <thead>
          <th>Reporting Event</th>
          <th>Status</th>
        </thead>
        {% import "course/edit_checkpoint_macro.html" as edit_checkpoint %}
        <!-- edit checkpoint modal form -->
        {% if g.course.checkpoints %}
          {% for checkpoint in g.course.checkpoints %}
            <form id="edit_checkpoint_form_{{ checkpoint.id }}" class="needs-validation" novalidate action="{{ url_for('course.index', course_id=g.course.id) }}" method="GET">
              <div class="modal fade" id="edit_checkpoint_modal_{{ checkpoint.id }}" tabindex="-1" aria-labelledby="edit_checkpoint_modal_label_{{ checkpoint.id }}" aria-hidden="true">
                <div class="modal-dialog">
                  <p>{{ edit_checkpoint.render_modal(g.course, checkpoint) }}</p>
                </div>
              </div>
            </form>
            <tr>
              <td>{{ checkpoint.snapshot.name }}</td>
              <td>
                {% if not checkpoint.is_ready() %}
                  <button data-toggle="modal" data-target="#edit_checkpoint_modal_{{ checkpoint.id }}" type="button" class="btn btn-danger" onclick="get_paper_ids({{ g.course.id }}, {{ checkpoint.id }})">Not Ready <span data-feather="edit" ></span></button>
                {% else %}
                  {% if not checkpoint.snapshot.is_published %}
                    <button data-toggle="modal" data-target="#edit_checkpoint_modal_{{ checkpoint.id }}" type="button" class="btn btn-success" onclick="get_paper_ids({{ g.course.id }}, {{ checkpoint.id }})">Ready <span data-feather="edit"></span></button>
                  {% else %}
                    <button type="button" class="btn btn-success disabled">Published</button>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td></td>
            <td>No Reporting Events</td>
            <td></td>
          </tr>
        {% endif %}
      </table>
    </div>
  </div>
</main>
{% endblock course_main_content %}
