{% extends "course/course_layout.html" %}

{% block course_main_content %}

<script src="{{ url_for('static', filename='edit_grade_form.js') }}"></script>
<script src="{{ url_for('static', filename='edit_categories_form.js') }}"></script>

<style>
  .profile{
    display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .profile > div{
    margin: 1em;
  }
  .left_col{
    grid-column:1;
    grid-row:1/2;
  }
  .right_col{
    grid-column:2;
    grid-row:1/2;
  }
  .icon_red{
    stroke:red;
  }
  .icon_green{
    stroke:green;
  }
</style>
<main role="main">

  <h1 class="my-3">{{ g.course.name }} - Course Parameters</h1>

  {% import "course/assessment_categories_form_macro.html" as categories_form %}
  <!-- edit categories modal form -->
  <form id="categories-form" class="needs-validation" novalidate>
    <div class="modal fade" id="categories_modal" tabindex="-1" aria-labelledby="categories_modal_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Assessment Categories</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{ categories_form.render_edit_categories(g.course) }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick='return validate_categories({{ g.course.id }})'>Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br>
  <div class="profile">
    <div class='left-col'>
      <h4>Assessment Categories <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#categories_modal">
        <span data-feather="edit"></span>
        <a>Edit</a></button></h4>
      <table class="table table-hover text-center">
        <thead>
          <th>Category</th>
          <th>Course Weighting</th>
          <th>Number of Assessments</th>
        </thead>
        {% for category in g.course.assessment_categories %}
          <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.weight }} %</td>
            <td>{{ category.papers | length }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="right-col">
      <h4>Current Assessments <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#paper_create_modal">
        <span data-feather="plus-square"></span>
        <a>Add Assessment</a></button>
      </h4>
      <table class="table table-hover text-center">
        <thead>
          <th>Title</th>
          <th>Category</th>
          <th>Marks Uploaded</th>
        </thead>
        {% for paper in g.course.papers %}
        <tr>
          <td>
            <div align="left">
              <a class="btn btn-link {{ 'disabled' if paper.scores }}" aria-label="Delete paper" href="{{ url_for('course.paper.remove', paper_id=paper.id) }}">
                <span data-feather="trash-2"></span>
              </a>
              <a href="{{ url_for('course.paper.index', paper_id=paper.id) }}">{{ paper.title }}</a>
            </div>
          </td>
          <td>{{ paper.category.name }}</td>
          {% if paper.has_all_scores() %}
            <td><i class="icon_green" data-feather="check-circle"></i></td>
          {% else %}
            <td><i class="icon_red" data-feather="x-circle"></i></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br>

  {% import "course/grade_levels_form_macro.html" as grades_form %}
  <!-- edit grade levels modal form -->
  <form id="grade-level-form" class="needs-validation" novalidate>
    <div class="modal fade" id="grade_level_modal" tabindex="-1" aria-labelledby="grade_level_modal_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Grade Boundaries</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{ grades_form.render_edit_gradelevels(g.course) }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick='return validate_grade_levels({{ g.course.id }})'>Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br>
  <div class="profile">
    <div class="left_col">
      <h4>Grade Boundaries <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#grade_level_modal">
        <span data-feather="edit"></span>
        Edit
      </h4>
      <table class="table table-hover text-center">
        {% for grade in g.course.grade_levels %}
          <tr>
            <td>{{ grade.grade }}</td>
            <td>{{ grade.lower_bound }}%</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="right-col">
      <h4>Reporting <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#">
        <span data-feather="plus-square"></span>
        Take New Snapshot
      </h4>
      <table class="table table-hover text-center">
        <thead>
          <th>Snapshot Name</th>
          <th>Assessment Inclusions</th>
          <th>Reports Deployed</th>
        </thead>
        <tr>
          <td>Semester 1 Report</td>
          <td>Mechanics Test, MC Quiz</td>
          <td>
            <!-- 3 options: 
            - Not all papers have marks uploaded: red, disabled
            - All papers have marks uploaded, reports have not been deployed: green, enabled
            - reports have been deployed: green, disabled -->
            <button class="btn btn-danger btn-sm disabled">Deploy Reports</button>
          </td>
          <td><span data-feather="edit"></span><td>
        </tr>
      </table>
    </div>
  </div>
</main>
{% endblock course_main_content %}
