<!--
  Renders a list of questions in the Bootstrap accordion style.
-->

{% macro render_questions(course_id, paper_id, questions) -%}

{% if questions|count == 0 %}
  <p class="text-center p-3">No questions found.</p>
{% endif %}

{% for question in questions %}
<div class="accordion">
  <div class="card">

    <div class="card-header p-1 d-flex flex-md-row" id="heading{{ loop.index0 }}">

      <!-- Showing question as part of a paper: allow question to be added/removed for paper -->
      {% if paper_id > 0 %}
      <a role="button" aria-label="Add question" class="btn btn-link" onmouseup="{{ 'paper_remove_question(%d, %d, %d)' % (course_id, paper_id, question.id) if question.__question_added_to_paper else 'paper_add_question(%d, %d, %d)' % (course_id, paper_id, question.id) }}">
        <span
            data-feather="{{ 'check-circle' if question.__question_added_to_paper else 'circle' }}"
            data-alchemy_is_selected_question="{{ question.__question_added_to_paper }}"
            onmousedown="question_toggle_selection_icon($(this))"></span>
      </a>
      {% endif %}

      <h2 class="mb-0 mr-md-auto">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index0 }}" aria-expanded="false" aria-controls="collapse{{ loop.index0 }}">
          [{{ question.points | prettify_number }} Points] {{ question.content }}
        </button>
      </h2>

      <!-- Showing question as part of the whole library: allow question to be edited or deleted from library. -->
      {% if paper_id == 0 %}
      <a role="button" aria-label="Edit question" onclick="question_form_load({{ course_id }}, {{ question.id }})" class="btn btn-link">
        <span data-feather="edit"></span>
      </a>
      <a class="btn btn-link {{ 'disabled' if question.papers }}" aria-label="Delete question" href="{{ url_for('course.library.delete_question', course_id=course_id, question_id=question.id) }}">
        <span data-feather="trash-2"></span>
      </a>
      {% endif %}

    </div>

    <div id="collapse{{ loop.index0 }}" class="collapse" aria-labelledby="heading{{ loop.index0 }}">
      {% import "course/question_details_macro.html" as question_details %}
      {{ question_details.render_question_details(question) }}
    </div>

  </div>
</div>
{% endfor %}

<script type="text/javascript">
  function question_toggle_selection_icon(button_icon) {
    let is_selected_question = button_icon.attr('data-alchemy_is_selected_question')
    let new_icon = is_selected_question ? 'circle' : 'check-circle'
    button_icon.replaceWith(feather.icons[new_icon].toSvg());
  }

  function question_form_load(course_id, question_id) {
    $('#question_edit_modal').modal('show')
    $.getJSON('/course/' + course_id + '/library/edit_question_render_form', {
      question_id: question_id,
    }, function(data) {
      $('#edit_question_area').html(data.edit_question_html)
      reload_question_tags('edit_question_')
      reload_mcq_solutions_tab('edit_question_')
      init_page()
    })
  }
</script>

{%- endmacro %}
