
{% if highlights_section.paper.has_oa_questions() %}
  {% if highlights_section.question_highlights.weaknesses|length==1 %}
    <p>The Open Answer Question where you may require further revision, with <b>{{ highlights_section.question_highlights.weaknesses[0].percent_score }}%</b> ( Grade Level <b>{{ highlights_section.question_highlights.weaknesses[0].grade }} )</b> was:</p>

    <p><b>Question {{ highlights_section.question_highlights.weaknesses[0].object.order_number }}</b>, with <b>{{ highlights_section.question_highlights.weaknesses[0].raw_score }}</b> marks achieved out of {{ highlights_section.question_highlights.weaknesses[0].total }} marks available.</p>

  {% else %}
    <p>The Open Answer Questions that may require further revision, with <b>{{ highlights_section.question_highlights.weaknesses[0].percent_score }}%</b> ( Grade Level: <b>{{ highlights_section.question_highlights.weaknesses[0].grade }}</b> ), were on the following questions:</p>

    {% for statsumm in highlights_section.question_highlights.weaknesses %}
      <p><b>Question {{ statsumm.object.order_number }}</b>, with <b>{{ statsumm.raw_score }}</b> out of {{ statsumm.total }} marks available.</p>
    {% endfor %}
  {% endif %}
{% endif %}
