{% extends "course/cohort/layout.html" %}

{% block cohort_tab_content %}

  <h1 class="my-3">{{ g.course.name }} - Current Cohort</h1>

  <h2>Classes ({{ g.course.clazzes | length }})</h2>
  <br>
  <table class="table table-hover">
    <thead>
      <th>Class</th>
      <th>Teacher</th>
      <th>Number of Students</th>
    </thead>
    {% for profile in clazz_profiles %}
    <tr>
      <td><a href="{{ url_for('course.clazz.index', clazz_id = profile.clazz.id)}}">{{ profile.clazz.code }}</a></td>
      <td>TEACHER (eventually)</td><!--TODO eventually clazz.teachers-->
      <td>{{ profile.clazz.students | length }}</td>
    </tr>
    {% endfor %}
  </table>

  <h2>Students ({{ num_students }})</h2>
  <br>
  <div class="accordion" id="student-cohort-list">
    <div class="card">
      <div class="card-header" id="student-list-header">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#cohort-list" aria-expanded="false" aria-controls="collapseTwo">
            <h4>View All Students</h4>
          </button>
        </h2>
      </div>
      <div id="cohort-list" class="collapse" aria-labelledby="student-list-header" data-parent="#student-cohort-list">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <th>Student ID</th>
              <th>Family Name, Given Name</th>
              <th>Class</th>
              {% for paper in g.course.papers %}
                <th>{{ paper.title }}</th>
              {% endfor %}
            </thead>
            {% for clazz_profile in clazz_profiles %}
              {% for student_profile in clazz_profile.student_course_profiles %}
                <tr>
                  <td class="align-middle"><a href="{{ url_for('student.index', student_id = student_profile.student.id) }}">{{ student_profile.student.id }}</a></td>
                  <td class="align-middle">{{ student_profile.student.aws_user.family_name }}, {{ student_profile.student.aws_user.given_name }}</td>
                  <td class="align-middle">{{ clazz_profile.clazz.code }}</td>
                  {% for tally in student_profile.paper_score_tallies %}
                    {% if tally.has_all_scores() %}
                      <td>{{ tally.percent_total }}% | {{ tally.grade }}  <br>
                        <a class="btn btn-success btn-sm" target="_blank" href="{{ url_for('student.paper_report', student_id = student_profile.student.id, paper_id = tally.paper.id, clazz_id = clazz_profile.clazz.id, section_selection_string_get = g.student_paper_report_sections_string ) }}">View Report</a></td>
                    {% else %}
                      <td>No Grade Assigned<br><a class="btn btn-success btn-sm disabled">View Report</a>
                      </td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>


{% endblock cohort_tab_content %}
