{% macro render_section(adjacent_grades_section) -%}

  <table style="text-align:center" class="table table-hover">
    <thead>
      <th style = "color: red;">Next Lowest Grade Level</th>
      <th style = "color: green;">Next Highest Grade Level</th>
    </thead>
    <tr>
      <td>
        {% if adjacent_grades_section.adjacent_grades.lower_grade %}
          <p>Your achievement on this assessment was <b>{{ adjacent_grades_section.adjacent_grades.diff_lower_grade }}%</b> from <b>{{ adjacent_grades_section.adjacent_grades.lower_grade.grade }}</b> level.</p>
          <br>
        {% else %}
          <p>Don't stress! Small improvements will make big differences!</p>
        {% endif %}
      </td>
      <td>
        {% if adjacent_grades_section.adjacent_grades.higher_grade %}
          <p>Your achievement on this assessment was <b>{{ adjacent_grades_section.adjacent_grades.diff_higher_grade }}%</b> from <b>{{ adjacent_grades_section.adjacent_grades.higher_grade.grade }}</b> level.</p>
          <br>
        {% else %}
          <p>Wowsers! You have achieved at the highest possible grade level! Congratulations!</p>
        {% endif %}
      </td>
    </tr>
  </table>
  <br>
{%- endmacro %}
